{% extends "blog/base.html" %}

{% block content %}
<div class="container">


<form method="post" action="{% url "django.contrib.auth.views.login" %}" class="form-horizontal">
{% csrf_token %}
<h2>User Login</h2>
<h2> </h2>
<table>
<tr>
	<td>{{ form.username.label_tag }}</td>
	<td>{{ form.username }}</td>
</tr>
<h2> </h2>
<tr>
	<td>{{ form.password.label_tag }}</td>
	<td>{{ form.password }}</td>
</tr>
</table>
<h2> </h2>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<button type="submit" value="Login" class="save btn btn-success" />Login <span class="glyphicon glyphicon-pencil"></span></button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>


{% endblock %}