{% extends "blog/base.html" %}

{% block content %}
    <div class="post">
        <h1>{{ post.title }}</h1>
         <div class="date">
                {{ post.created_date }}
            </div>
        <p>{{ post.text|linebreaks }}</p>
    </div>

    <hr>
	<a href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
	{% for comment in post.comments.all %}
		{% if user.is_authenticated or comment.approved_comment %}
			<div class="comment">
			<strong>{{ comment.author }}</strong>
			{% if not comment.approved_comment %}
				<a href="{% url 'comment_approve' pk=comment.pk %}">Approve Comment</a>
				<a href="{% url 'comment_remove' pk=comment.pk %}">Remove Comment</a>
			{% endif %}
			<div class="date">{{ comment.created_date }}</div>
			<p>{{ comment.text|linebreaks }}</p>
			</div>
		{% endif %}
		{% empty %}
			<p>No comments here yet :(</p>
	{% endfor %}
{% endblock %}